<!-- interpolation -->

<p>test Component</p>

<p>Name is {{name}}</p>

<p>{{getName()}}</p>

<p>{{name.length}}</p>

<p>{{name.toUpperCase()}}</p>

<p>{{2 + 2}}</p>

<!-- property binding -->

<input type="text" [id]="myid" [value] = "name"><br>
<input type="text" [id]="myid" [value] = "name" [disabled] = "false"><br>
<input type="text" [id]="myid" [value] = "name" [disabled] = "isDisabled">

<!-- class binding -->

<h2 class="text-danger">Class</h2>

<h2 [class]="component_class">component Class</h2>

<h2  class="text-special" [class]="component_class" >component Class</h2>

<h2 [class.text-primary] = "hasError">condition class</h2>


<!-- more than one class binding on condition using ngClass -->

<h2 [ngClass] = "messageClass">more Than One Class</h2>


<!-- style binding -->

<h2 style="color: red;">Style bindinng</h2>

<h2 [style.color]= "'red'">Style bindinng</h2>

<h2 [style.color] = "text_color">Style bindinng</h2>

<!-- more than one style binding on condition using ngStyle -->

<h2 [ngStyle] = "messageStyle">Style bindinng</h2>


<!-- event binding -->

<button (click) = "Onclick()">button</button><br>
{{buttonClick}}

<!-- Use of $event variable to get all the information about event -->

<button (click) = "OnClick($event)">button</button>
{{buttonClick}}

<!-- without using event Handler -->
<button (click) = "buttonClick = 'without event handler'">button</button>
{{buttonClick}}
<br>


<!-- Template Reference Variables -->
<!-- used to easily access DOM elements and property -->
<input type="text" #inputReference>
<button (click) = "template(inputReference.value)">Click</button>
<br>


<!-- 
Two Way Binding - ngModel -->

<input type="text"  [(ngModel)] =  "mname">
{{mname}}


<!-- ngIf Directive -->

<h1 *ngIf = "true">If true then</h1>

<h1 *ngIf =  "displayName; else elseCondition" >If true then</h1>

<ng-template #elseCondition>
    <h1>Else Block</h1>
</ng-template>

<h1 *ngIf = "displayName; then ifCondition; else elseCode"></h1>

<ng-template #ifCondition>
    <h1>If block</h1>
</ng-template>
<ng-template #elseCode>
    <h1>elso block</h1>
</ng-template>


<!-- ngSwitch  -->

<div [ngSwitch]="swichName">
   <div *ngSwitchCase="'blue'">blue case selected</div>
   <div *ngSwitchCase="'red'">red case selected</div>
   <div *ngSwitchCase="'green'">green case selected</div>
   <div *ngSwitchDefault>default case selected</div>
</div>


<!-- ngFor -->

<div *ngFor = "let color of colors; index as i; last as l; first as f; even as e; odd as o" > 
    <h1> {{i}} {{f}} {{l}} {{e}} {{o}} {{color}}</h1>
</div>

<!-- 
send data from parent to child 

Input Decorator
-->

<h3>{{Parent_to_Childe}}</h3>


<!-- send Data from child to Parent_to_Childe


Output Decorator -->

<button (click)="OnFire()">Output decorator</button><br>


<!-- 
pipes -->

{{pname}} <br>
{{pname | lowercase}}  <br>
{{pname | uppercase}}  <br>
{{pname | slice:2: 5}} <br>
{{pmessage | titlecase}} <br>
{{pjson | json}}

{{5.678 | number: '1.2-3'}} <br>
{{5.678 | number: '3.4-5'}} <br>
{{5.678 | number: '3.1-2'}} <br>

{{0.25 | percent}} <br>

{{0.25 | currency}} <br>
{{0.25 | currency : "INR"}} <br>


{{date}} <br>
{{date | date: 'short'}} <br>
{{date | date: 'shortDate'}} <br>
{{date | date: 'shortTime'}} <br>



