<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container-fluid">

    <div class="alert alert-danger" *ngIf = "ErrorMsg">
        {{ErrorMsg}}
    </div>
    
    <form  (ngSubmit)="OnSubmit()"  *ngIf = "!submitted"  #userForm = 'ngForm'>
      
      {{userForm.valid}}

      <!-- {{userForm.value | json}} -->

      <!-- <hr>

      {{UserModel | json}} -->


    <!-- <div ngModelGroup="address">
      <div class="form-group">
        <label>Street</label>
        <input type="text" ngModel name="street" class="form-control">
      </div>
      <div class="form-group">
        <label>City</label>
        <input type="text" ngModel name="city" class="form-control">
      </div>
      <div class="form-group">
        <label>State</label>
        <input type="text" ngModel name="state" class="form-control">
      </div>
      <div class="form-group">
        <label>Postal Code</label>
        <input type="text" ngModel name="post" class="form-control">
      </div>
    </div> -->

    <div class="form-group mb-3">
      <label>Name</label>
      <input type="text"  #name="ngModel" [class.is-invalid] = "name.invalid && name.touched" [(ngModel)] = "UserModel.name"  name="name" class="form-control" required>
      <small  class="text-danger"  [class.d-none] = "name.valid ||  name.untouched">Name is required</small>
    </div>

    

    <!-- {{name.className}} -->
    <!-- {{name.untouched}} -->



    <div class="form-group mb-3">
      <label>Email</label>
      <input type="email" [(ngModel)] = "UserModel.email" name="email" class="form-control">
    </div>
    <div class="form-group mb-3">
      <label>Phone</label>
      <input type="tel"  #phone = "ngModel"  pattern="^\d{10}$" [class.is-invalid] = "phone.invalid && phone.touched" [(ngModel)] = "UserModel.phone"    name="phone" class="form-control" required>
      <!-- <small  class="text-danger" [class.d-none] = "phone.valid || phone.untouched">Phone number require & must be 10 digits</small>   -->
      <div *ngIf = "phone.errors && (phone.invalid || phone.touched)">
         <small  class="text-danger" *ngIf = "phone.errors['required']">Phone number require</small>
          <small  class="text-danger" *ngIf = "phone.errors['pattern']">Phone number must be 10 digits</small>
      </div>
    </div>


    <div class="form-group mb-3">
      <label>Topics</label>
      <select class="form-select"  #topic = "ngModel" [class.is-invalid] = "hasError && topic.touched"  (blur) = "Validate(topic.value)" (change) = "Validate(topic.value)"  [(ngModel)] = "UserModel.topic" name="topic">
        <option value="default" selected>Select topic:</option>
        <option *ngFor="let topic of topics"> {{topic}} </option> 
      </select>
      <small [class.d-none] = "!hasError || topic.untouched" class="text-danger">Please select topic</small>
    </div>


    <div class="mb-3">
    <label>Time Preference</label>
    <div class="form-check">
      <input class="form-check-input" type="radio" [(ngModel)] = "UserModel.timePreference" name="timePreference" value="morning">
      <label class="form-check-label">
        Morning
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" [(ngModel)] = "UserModel.timePreference" name="timePreference" value="evening">
      <label class="form-check-label">
        Evening
      </label>
    </div>
  </div>

    <div class="form-check mb-3">
      <input class="form-check-input" [(ngModel)] = "UserModel.subscribe" name="subscribe" type="checkbox">
      <label class="form-check-label">
        Send me promotional offers
      </label>
    </div>

    <button class="btn btn-primary" type="submit" [disabled] = "userForm.invalid || hasError">Submit Form</button>
  </form>
  </div>
</body>
</html>