<div class="row">
  <div class="col-md-12">
    <ul class="list">
      <li><a routerLink="fromEvent">FromEvent</a></li>
      <li><a routerLink="interval">Interval</a></li>
      <li><a routerLink="of-from">Of-From and toArray</a></li>
      <li><a routerLink="custome">Custome Observable</a></li>
      <li><a routerLink="map">Map and Plunk</a></li>
      <li><a routerLink="filter">filter</a></li>
      <li><a routerLink="tap">tap</a></li>
      <li><a routerLink="take">take</a></li>
      <li><a routerLink="retry">retry</a></li>
      <li><a routerLink="debounce">debounce</a></li>
    </ul>
  </div>
</div>
