<button (click) = "AddUser(name)">Add User</button>
<input type="text" #name>



<div class="row">
    <div class="col-md-6">
         <table class="table">
            <thead>
                <tr>
                    <td scope= "col">name</td>
                    <td scope= "col">remove</td>
                  
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of user;index as i">
                    <td>{{item.uname}}</td>
                    <td><button class="btn btn-danger" (click)="OnRemove(i)">Remove</button></td>

                </tr>
            </tbody>
         </table>
    </div>
</div>