<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body text-center">
          <img
            [src]="image"
            class="img-fluid rounded-circle mb-3"
            alt="Profile Picture"
          />
          <h1 class="card-title"></h1>
          <h4 class="card-subtitle mb-2 text-muted">Web Developer</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
            rhoncus lectus sed sem aliquam, sit amet ultrices magna tristique.
            Integer commodo faucibus malesuada.
          </p>
          <a href="#" class="btn btn-primary">Edit Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>
