<button mat-button>Basic Buttons</button>
<button mat-raised-button color="primary"> Raised Button</button>
<button mat-stroked-button color="accent"> stroked Button</button>
<button mat-flat-button color="warn"> flat Button</button>

  <button mat-icon-button disabled>
    <mat-icon>favorite</mat-icon>
  </button>

  <a mat-fab routerLink="." aria-label="Example fab with a heart icon">
    <mat-icon>home</mat-icon>
  </a>

  <button mat-mini-fab color="primary">
    <mat-icon>favorite</mat-icon>
  </button>

  <button mat-fab extended color="accent">
    <mat-icon>favorite</mat-icon>
    Accent
  </button> 

