<div class="container-fluid">
  <div class="row my-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          OF Operator <br />
          <strong>Data: </strong>('rutvik', 'harsh', 'kaushik')
        </div>
        <div class="card-body">
          <ul id="ulElement2"></ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          OF Operator <br />
          <strong>Data: </strong>(&#123; 'rutvik', 'harsh', 'kaushik' &#125;)
        </div>
        <div class="card-body">
          <ul id="ulElement">
            <li>{{ obsMsg.a }}</li>
            <li>{{ obsMsg.b }}</li>
            <li>{{ obsMsg.c }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          FROM Operator <br />
          <strong>Data: </strong>['rutvik', 'harsh', 'kaushik']
        </div>
        <div class="card-body">
          <ul id="ulElement3"></ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          FROM Operator <br />
          <strong>Data: </strong>Promise
        </div>
        <div class="card-body">
          <ul id="ulElement4"></ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          FROM Operator <br />
          <strong>Data: </strong>'my name is rutvik'
        </div>
        <div class="card-body">
          <ul id="ulElement5"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
